<table>
  <tr>
    <th>Issue dialog size:</th>
    <td>
      <input type="size" id="settings_issue_dialog_size" name="settings[issue_dialog_size]" value="<%= settings['issue_dialog_size'] %>"></input>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <th>Disable call_hook:</th>
    <td>
      <input type="checkbox" id="settings_disable_call_hook" name="settings[disable_call_hook]" value="<%= settings['disable_call_hook'] %>"></input>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <th>Issue tooltip enabled:</th>
    <td>
      <input type="checkbox" id="settings_issue_tooltip_enabled" name="settings[issue_tooltip_enabled]" <%= settings['issue_tooltip_enabled'] == "on" ? "checked" : "" %>></input>
    </td>
    <td style="color: red;">
      <%= l(:server_load_increase) %>
    </td>
  </tr>
  <tr>
    <th>Tooltip attributes:</th>
    <td>
      <select id="settings_tooltip_attrs" name="settings[tooltip_attributes][]" multiple size="14">
        <%= options_for_select [:avatar, :project, :subject, :status, :priority, :category, :target_version, :assigned_to, :start_date, :due_date, :done_ratio, :estimated_hours, :spent_time, :description],
              settings['tooltip_attributes'] %>
      </select>
    </td>
    <td style="color: red;">
      <%= l(:server_load_increase) %>
    </td>
  </tr>
  <tr>
    <th>WorkTime Extension(dialog anchor) enabled:</th>
    <td>
      <input type="checkbox" id="settings_worktime_ext_dialog_anchor_enabled" name="settings[worktime_ext_dialog_anchor_enabled]" <%= settings['worktime_ext_dialog_anchor_enabled'] == "on" ? "checked" : "" %>></input>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <th>WorkTime Extension(tooltip) enabled:</th>
    <td>
      <input type="checkbox" id="settings_worktime_ext_tooltip_enabled" name="settings[worktime_ext_tooltip_enabled]" <%= settings['worktime_ext_tooltip_enabled']  == "on" ? "checked" : "" %>></input>
    </td>
    <td style="color: red;">
      <%= l(:server_load_increase) %>
    </td>
  </tr>
</table>
