<%
  #template args
  #  issue - drawing target

  extend ProjectsHelper
  extend IssuesHelper
  extend AttachmentsHelper
  extend CustomFieldsHelper

  issue = @issue
  project = @issue.project
  desired_attributes = Setting.plugin_quick_view['tooltip_attributes']
  if desired_attributes.nil?
    desired_attributes = [
      'avatar',
      'project',
      'subject',
      'status',
      'priority',
      'category',
      'target_version',
      'assigned_to',
      'start_date',
      'due_date',
      'estimated_hours',
      'spent_time']
  end
  require_header = desired_attributes.any? do |attr|
    ['avatar', 'project', 'subject'].include?(attr)
  end
  require_body = desired_attributes.any? do |attr|
    ['status', 'priority' 'category', 'target_version', 'assigned_to', 'start_date', 'due_date', 'done_ratio', 'estimated_hours', 'spent_time'].include?(attr)
  end
%>
<% if require_header %>
<div>
  <% if desired_attributes.include? 'avatar' %>
  <%= avatar(@issue.author, :size => "50") %>
  <% end %>
  <% if desired_attributes.include? 'project' %>
  <div class="project">&lt;<%= project.name %>&gt;</div>
  <% end %>
  <% if desired_attributes.include? 'subject' %>
  <div class="subject">
    <%= render_issue_subject_with_tree(issue) %>
  </div>
  <% end %>
</div>
<% end %>
<% if require_header && require_body %>
<hr style="clear: both;">
<% end %>
<% if require_body %>
<table class="quick_view_portrait_attributes">
  <% if desired_attributes.include? 'status' %>
  <tr>
    <th class="status"><%=l(:field_status) %></th>
    <td class="status"><%= h(issue.status.name)%></td>
  </tr>
  <% end %>
  <% if desired_attributes.include? 'priority' %>
  <tr>
    <th class="priority"><%=l(:field_priority) %></th>
    <td class="priority"><%= h(issue.priority.name)%></td>
  </tr>
  <% end %>
  <% if desired_attributes.include? 'category' %>
  <% unless issue.disabled_core_fields.include?('category_id') %>
  <tr>
    <th class="category"><%=l(:field_category) %></th>
    <td class="category"><%= h(issue.category ? issue.category.name : "-") %></td>
  </tr>
  <% end %>
  <% end %>
  <% if desired_attributes.include? 'target_version' %>
  <% unless issue.disabled_core_fields.include?('fixed_version_id') %>
  <tr>
    <th class="fixed-version"><%=l(:field_fixed_version) %></th>
    <td class="fixed-version"><%= issue.fixed_version ? issue.fixed_version.name : "-" %></td>
  </tr>
  <% end %>
  <% end %>
  <% if desired_attributes.include? 'assigned_to' %>
  <% unless issue.disabled_core_fields.include?('assigned_to_id') %>
  <tr>
    <th class="assigned-to"><%=l(:field_assigned_to) %></th>
    <td class="assigned-to"><%= avatar(issue.assigned_to, :size => "14").to_s.html_safe + (issue.assigned_to ? issue.assigned_to.name : "-") %></td>
  </tr>
  <% end %>
  <% end %>
  <% if desired_attributes.include? 'start_date' %>
  <% unless issue.disabled_core_fields.include?('start_date') %>
  <tr>
    <th class="start-date"><%=l(:field_start_date) %></th>
    <td class="start-date"><%= issue.start_date ? format_date(issue.start_date) : "-" %></td>
  </tr>
  <% end %>
  <% end %>
  <% if desired_attributes.include? 'due_date' %>
  <% unless issue.disabled_core_fields.include?('due_date') %>
  <tr>
    <th class="due-date"><%=l(:field_due_date) %></th>
    <td class="due-date"><%= issue.due_date ? format_date(issue.due_date) : "-" %></td>
  </tr>
  <% end %>
  <% end %>
  <% if desired_attributes.include? 'done_ratio' %>
  <tr>
    <th class="progress"><%=l(:field_done_ratio) %></th>
    <td class="progress"><%= progress_bar(@issue.done_ratio, :width => '50px', :legend => "#{@issue.done_ratio}%")%></td>
  </tr>
  <% end %>
  <% if desired_attributes.include? 'estimated_hours' %>
  <% unless issue.disabled_core_fields.include?('estimated_hours') %>
  <%   unless issue.estimated_hours.nil? %>
  <tr>
    <th class="estimated-hours"><%=l(:field_estimated_hours) %></th>
    <td class="estimated-hours"><%= format_date(issue.estimated_hours)%></td>
  </tr>
  <%   end %>
  <% end %>
  <% end %>
  <% if desired_attributes.include? 'spent_time' %>
  <% if User.current.allowed_to?(:view_time_entries, project) %>
  <tr>
    <th class="spent-time"><%=l(:label_spent_time) %></th>
    <td class="spent-time"><%= (issue.total_spent_hours > 0 ? l_hours(issue.total_spent_hours) : "-") %></td>
  </tr>
  <% end %>
  <% end %>
</table>
<% end %>
<% if desired_attributes.include?('description') && @issue.description.present? %>
<% if require_header || require_body %>
<hr style="clear: both;">
<% end %>
<div class="wiki">
<%= textilizable @issue, :description, :attachments => @issue.attachments %>
</div>
<% end %>

<% if issue.created_on != issue.updated_on %>
<hr style="clear: both;">
<%= l(:label_updated_time, time_tag(issue.updated_on)).html_safe %>.
<% end %>
