<%
  #template args
  #  issue - drawing target

  extend ProjectsHelper
  extend IssuesHelper
  extend AttachmentsHelper
  extend CustomFieldsHelper
#  extend RepositoriesHelper
#  extend JournalsHelper

  issue = @issue
  project = @issue.project
%>
     <div>
        <div class="subject">
        <%= render_issue_subject_with_tree(issue) %>
        </div>
        <hr>
        <table class="quick_view_tooltip_attributes">
          <tr><th class="status"><%=l(:field_status) %></th><td class="status" ><%= h(issue.status.name)%></td></tr>
          <tr><th class="priority"><%=l(:field_priority) %></th><td class="priority"><%= h(issue.priority.name)%></td></tr>
          <tr><th class="assigned-to"><%=l(:field_assigned_to) %></th><td class="assigned_to"><%= avatar(issue.assigned_to, :size => "14").to_s.html_safe + (issue.assigned_to ? link_to_user(issue.assigned_to) : "-") %></td></tr>
          <tr><th class="start-date"><%=l(:field_start_date) %></th><td class="start-date"><%= format_date(issue.start_date)%></td></tr>
          <tr><th class="due-date"><%=l(:field_due_date) %></th><td class="due-date"><%= format_date(issue.due_date)%></td></tr>
          <% unless issue.disabled_core_fields.include?('estimated_hours') %>
          <%  unless issue.estimated_hours.nil? %>
          <tr><th class="estimated-hours"><%=l(:field_estimated_hours) %></th><td class="estimated-hours"><%= format_date(issue.estimated_hours)%></td></tr>
          <%  end %>
          <% end%>
          <% if User.current.allowed_to?(:view_time_entries, project) %>
          <tr>
          <%  redmine_version = Redmine::VERSION::MAJOR * 10 + Redmine::VERSION::MINOR %>
          <%  if redmine_version < 26 %>
            <th class="spent-time"><%=l(:label_spent_time) %></th>
            <td class="spent-time"><%= (issue.total_spent_hours > 0 ? link_to(l_hours(issue.total_spent_hours), project_issue_time_entries_path(project, issue)) : "-") %></td>
          <%  else %>
            <th class="spent-time"><%=l(:label_spent_time) %></th>
            <td class="spent-time"><%= (issue.total_spent_hours > 0 ? link_to(l_hours(issue.total_spent_hours), issue_time_entries_path(issue)) : "-") %></td>
          <%  end %>
          </tr>
          <% end %>
        </table>
        <hr>
        <% if issue.created_on != issue.updated_on %>
        <%= l(:label_updated_time, time_tag(issue.updated_on)).html_safe %>.
        <% end %>
     </div>
