<%
   extend CustomFieldsHelper
   extend JournalsHelper

   issue = @issues.first
   journals = issue.journals.includes(:user, :details).reorder("#{Journal.table_name}.id ASC").all
   journals.each_with_index {|j,i| j.indice = i+1}
   journals.reject!(&:private_notes?) unless User.current.allowed_to?(:view_private_notes, issue.project)
   journals.reverse! if User.current.wants_comments_in_reverse_order?
    
%>
  <li><%= context_menu_link(
            l(:button_quick_view),
            "javascript:quick_view_show_dialog()",
            :class => 'icon-show'
         ) %></li>
 
  <div id="quick_view_dialog" style="display:none; background-color: white;" title="Quick View - <%= issue.subject %>">
     <div class="issue">
        <div class="subject">
        <%= render_issue_subject_with_tree(issue) %>
        </div>
        <p class="author">
        <%= authoring issue.created_on, issue.author %>.
        <% if issue.created_on != issue.updated_on %>
        <%= l(:label_updated_time, time_tag(issue.updated_on)).html_safe %>.
        <% end %>
        </p>

        <hr />
         
        <div class="description">
          <p><strong><%=l(:field_description)%></strong></p>
          <div class="wiki">
          <% if issue.description? %>
          <%= textilizable issue, :description, :attachments => issue.attachments %>
          <% else %>
          <i>description is none.</i>
          <% end %>
          </div>
        </div>
     </div>

     <% if journals.present? %>
     <div id="history">
     <h3><%=l(:label_history)%></h3>
     <%= render :partial => '../../../../app/views/issues/history', :locals => { :issue => issue, :journals => journals } %>
     </div>
     <% end %>

  </div>

<script>
//<![CDATA[
function quick_view_show_dialog() {
  $("#quick_view_dialog").dialog({
     modal: true,
     closeOnEscape: false,
     width: 800,
     height: 480,
     buttons: {
        "close" : quick_view_dialog_cancel
     },
     close: quick_view_dialog_close
  });
}

function quick_view_dialog_close(){
  $("#quick_view_dialog").remove();
}

function quick_view_dialog_cancel(){
  $("#quick_view_dialog").dialog("close");
}

//]]>
</script>
