<%
  issue_dialog_size = Setting.plugin_quick_view['issue_dialog_size'].split(",")
  issue_dialog_size[0] = 640 if issue_dialog_size.length != 2 || !issue_dialog_size[0].match(/\d{3,4}/)
  issue_dialog_size[1] = 600 if issue_dialog_size.length != 2 || !issue_dialog_size[1].match(/\d{3,4}/)
  issue_dialog_size[0] = issue_dialog_size[0].to_i
  issue_dialog_size[1] = issue_dialog_size[1].to_i
  issue_dialog_size[0] = 640 unless (400 ... 2048).include?(issue_dialog_size[0])
  issue_dialog_size[1] = 600 unless (300 ... 2048).include?(issue_dialog_size[1])
%>
<div id="quick_view_dialogs"></div>
<script>
//<![CDATA[
var quick_view_dialog_open_queue = 0;
var quick_view_click_event_object = null;

quick_view_issue_dialog_init();
$(document).ajaxComplete(quick_view_issue_dialog_init);

function quick_view_issue_dialog_init() {
  var body = $("body");
  if (body.hasClass("controller-issues") && body.hasClass("action-index")) {
    quick_view_issue_dialog_event_init($("tr.issue"));
  }
  
  if (body.hasClass("controller-issues") && body.hasClass("action-show")) {
    quick_view_issue_dialog_event_init($("tr.issue"));
  }
  
  if (body.hasClass("controller-my")) {
    quick_view_issue_dialog_event_init($("tr.issue"));
    
  }

  if (body.hasClass("controller-versions")) {
    quick_view_issue_dialog_event_init($("tr.hascontextmenu > td"));
  }
  
}

function quick_view_issue_dialog_event_init(elements) {
  elements.each( function () {
    var element = $(this);
    if (element.hasClass("has_quick_view_issue_dialog_handler")) return;

    element.addClass("has_quick_view_issue_dialog_handler");
    element.click(quick_view_issue_click);
    element.dblclick(quick_view_issue_dblclick);
  });
}

<% if Setting.plugin_quick_view['issue_tooltip_enabled'] == "on" %>
quick_view_issue_tooltip_init();
$(document).ajaxComplete(quick_view_issue_tooltip_init);

function quick_view_issue_tooltip_init() {
  var body = $("body");
  if (body.hasClass("controller-issues") && body.hasClass("action-index")) {
    quick_view_tooltip_init($("tr.issue > td.subject > a"), quick_view_href_issue_id_parser);
    quick_view_tooltip_init($("tr.issue > td.id > a"), quick_view_href_issue_id_parser);
    quick_view_tooltip_init($("a.issue"), quick_view_href_issue_id_parser); // for parent link in the issue dialog
  }
  
  if (body.hasClass("controller-issues") && body.hasClass("action-show")) {
    quick_view_tooltip_init($("tr.issue > td.subject > a"), quick_view_href_issue_id_parser);
    quick_view_tooltip_init($("a.issue"), quick_view_href_issue_id_parser);
  }
  
  if (body.hasClass("controller-my")) {
    quick_view_tooltip_init($("tr.issue > td.subject > a"), quick_view_href_issue_id_parser);
    quick_view_tooltip_init($("tr.issue > td.id > a"), quick_view_href_issue_id_parser);
    quick_view_tooltip_init($("a.issue"), quick_view_href_issue_id_parser); // for parent link in the issue dialog
  }

  if (body.hasClass("controller-versions")) {
    quick_view_tooltip_init($("a.issue"), quick_view_href_issue_id_parser); // for parent link in the issue dialog
  }
}
<% end %>

function quick_view_href_issue_id_parser(current_target) {
  var issue_id = null;

  var href = current_target.attr("href");
  if (href) {
     var m = /\/issues\/(\d+)$/.exec(href);
     if (m) issue_id = m[1];
  }

  return issue_id;
}

function quick_view_child_href_issue_id_parser(current_target) {
  var issue_id = null;

  var href = current_target.children("a.issue").attr("href");
  if (href) {
     var m = /\/issues\/(\d+)$/.exec(href);
     if (m) issue_id = m[1];
  }

  return issue_id;
}

function quick_view_element_id_issue_id_parser(current_target) {
  var issue_id = null;

  var id = current_target.attr("id");
  var m = /issue-(\d+)/.exec(id);
  if (m) issue_id = m[1];

  return issue_id;
}

function quick_view_child_subject_td_issue_id_parser(current_target) {
  var issue_id = null;

  var child = current_target.children("td.subject").children("a.issue");
  if ( child.length == 1 ) {
    var m = /\/issues\/(\d+)$/.exec(child.attr("href"));
    if (m) issue_id = m[1];
  }

  return issue_id;
}

function quick_view_issue_click(event) {
   quick_view_click_event_object = event;
}

function quick_view_issue_dblclick(event) {
  var current_target = $(event.currentTarget);
  var issue_id = quick_view_element_id_issue_id_parser(current_target);
  if (!issue_id) {
    issue_id = quick_view_child_subject_td_issue_id_parser(current_target);
    if (!issue_id) {
      issue_id = quick_view_child_href_issue_id_parser(current_target);
      if (!issue_id) return;
    }
  }

  quick_view_show_dialog(issue_id);
}

function quick_view_show_dialog() {
  if (arguments.length == 0) {
     return;
  }

  quick_view_dialog_open_queue = arguments.length;
  for (var i = 0; i < arguments.length; ++i) {
     var issue_id = arguments[i];

     var already_exists=$(".quick_view_dialog[data-issue="+issue_id+"]");
     if (already_exists.length==1) {
       already_exists.dialog("moveToTop");
       continue;
     }
     <%# Issueの中で特殊な処理を行うその他のプラグインのために、先行で通常のIssueにアクセスする %>
     var url = '<%= issue_path(0) %>'.replace(/0$/,issue_id);
     $.ajax( { url: url, dataType: 'html' }).done( function () {
       var url = '<%= quick_view_issue_path(0) %>'.replace(/0$/,issue_id);
       $.ajax( { url: url, dataType: 'html', success: quick_view_dialog_open });
     });
  }
}

function quick_view_dialog_open(dialog_html) {
  $("#quick_view_dialogs").append(dialog_html);

  var m = /id="(quick_view_dialog_[0-9]+)"/.exec(dialog_html);
  if (m == null) return;

  var dialog_id = m[1];

  quick_view_dialog_open_queue--;
  var adjust = (quick_view_dialog_open_queue * 30) + 'px';
  var position_base = quick_view_click_event_object != null ? quick_view_click_event_object : window;
  var position = {my: "right-"+adjust+" center-"+adjust, of: position_base };

  $('#'+dialog_id).dialog({
     modal: false,
     closeOnEscape: false,
     width: <%= issue_dialog_size[0] %>,
     height: <%= issue_dialog_size[1] %>,
     position: position,
     show: {effect:"clip", easing:"easeInQuad"},
     hide: {effect:"clip", easing:"easeOutQuad"},
     buttons: {
        "details" : quick_view_dialog_details,
        "edit" : quick_view_dialog_edit,
        "close" : quick_view_dialog_cancel
     },
     close: quick_view_dialog_close
  });
}

function quick_view_dialog_close(){
  $(this).remove();
}

function quick_view_dialog_cancel(){
  $(this).dialog("close");
}

function quick_view_dialog_get_issue_id(dialog){
  var issue_id = dialog.attr("data-issue");
  return issue_id;
}

function quick_view_dialog_details(){
  var this_element = $(this);
  var issue_id = quick_view_dialog_get_issue_id(this_element);
  location.href='<%= issue_path(0) %>'.replace(/0$/, issue_id);
}

function quick_view_dialog_edit(){
  var this_element = $(this);
  var issue_id = quick_view_dialog_get_issue_id(this_element);
  location.href='<%= edit_issue_path(0) %>'.replace(/0\/edit/, issue_id+'/edit');
}
//]]>
</script>

