<%
   extend AttachmentsHelper
   extend CustomFieldsHelper
   extend JournalsHelper

   issue = @issues.first
   journals = issue.journals.includes(:user, :details).reorder("#{Journal.table_name}.id ASC").all
   journals.each_with_index {|j,i| j.indice = i+1}
   journals.reject!(&:private_notes?) unless User.current.allowed_to?(:view_private_notes, issue.project)
   journals.reverse! if User.current.wants_comments_in_reverse_order?

   dialog_id = Time.now.to_i
%>
<% if @issues.size == 1  %>
  <li class="folder">
    <a href="#" class="submenu"><%= l(:button_quick_view) %></a>
    <ul>
      <li><%= context_menu_link( "\##{issue.id}",
                                 "javascript:quick_view_show_dialog(#{issue.id})",
                                 :class => 'icon-show') %></li>
  <% unless issue.root? %>
    <% issue.ancestors.visible.all.each do |ancestor| %>
      <li><%= context_menu_link( "\##{ancestor.id}",
                                 "javascript:quick_view_show_dialog(#{ancestor.id})",
                                 :class => 'icon-show') %></li>
    <% end %>
  <% end %>
  <% if issue.relations.any? %>
      <hr>
    <% issue.relations.each do |relation| %>
      <% other_issue = relation.other_issue(issue) %>
      <li><%= context_menu_link( l(relation.label_for(issue)) + " \##{other_issue.id}",
                                     "javascript:quick_view_show_dialog(#{other_issue.id})",
                                     :class => 'icon-show',
                                     :style => 'background-image: url("'+image_path('link.png')+'")' ) %></li>
      <%# render 'hooks/quick_view_issue_dialog', :project => @project, :issue => other_issue %> 
    <% end %>
  <% end %>
    </ul>
<% else %>

  <% ids_as_str = @issue_ids.join(',') %>
  <li><%= context_menu_link( l(:button_quick_view),
                             "javascript:quick_view_show_dialog(#{ids_as_str})",
                             :class => 'icon-show') %></li>
  <% @issues.each do |issue| %>
    <%# render 'hooks/quick_view_issue_dialog', :project => @project, :issue => issue %> 
  <% end %>
<% end %>

